<div><strong>Nome</strong>: <input type="text" value="<%= @carro&.nome%>" name="nome"> </div>
<div><strong>Modelo</strong>: <input type="text" value="<%= @carro&.modelo%>" name="modelo"> </div>
<div><strong>Ano</strong>: <input type="text" value="<%= @carro&.ano%>" name="ano"> </div>