<section class="text-center container">

<h1>Editar carro</h1>

<hr>

<div style="text-align:left">
    <form>
        <div><strong>Nome</strong>: <input type="text" value="<%= @carro.nome%>" name="nome"> </div>
        <div><strong>Modelo</strong>: <input type="text" value="<%= @carro.modelo%>" name="modelo"> </div>
        <div><strong>Ano</strong>: <input type="text" value="<%= @carro.ano%>" name="ano"> </div>
        <hr>
        <button type="submit" class="btn btn-primary">Enviar</button>
        <a href="/carros" class="btn btn-warning">Voltar</a>
    </form>
</div>

</section>