<section class="text-center container">

<h1>Editar carro</h1>

<hr>

<div style="text-align:left">
    <form action="<%= carros_alterar_path(@carro) %>" method="POST">
        <input type="hidden" name="_method" value="PUT">
        <%= render "form" %>
        <hr>
        <button type="submit" class="btn btn-primary">Enviar</button>
        <a href="/carros" class="btn btn-warning">Voltar</a>
    </form>
</div>

</section>