<section class="text-center container">

<h1>Cadastrar Carro</h1>

<hr>

<div style="text-align:left">
    <form action="<%= carros_criar_path %>" method="POST">
        <%= render "form" %>
        <hr>
        <button type="submit" class="btn btn-primary">Enviar</button>
        <a href="/carros" class="btn btn-warning">Voltar</a>
    </form>
</div>

</section>